@{
    ViewBag.Title = "Index";
}


<div class="row m-2">
    <input type="text" id="email" placeholder="Введите почту клиента" class="form-control w-25" />

    <button type="button" class="btn btn-secondary ml-2" onclick="searchCustomersByEmail()">Найти</button>
</div>
<div id="Email-error"></div>
<div id="resultSearchCustomer" style="background-color:#cfdde8">

</div>
<div id="partialAllCustomers" class="mt-2">

</div>
@section scripts{
    <script src="~/Areas/Admin/Scripts/AllCustomers.js"></script>
}