
@{
    ViewBag.Title = "Index";
}

<div id="spinner">
    <h1>Загрузка...</h1>
</div>

<div class="w-100" id="partialPagination">

</div>

@section scripts {
    <script src="~/Areas/Manager/Scripts/PaginationTours.js"></script>
}

