@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blocked</title>
</head>
<body>
    <div>
        <h2>Извините, к сожалению вы находитесь в черном списке фирмы. Если произошла ошибка, то вы можете написать нашим менеджерам</h2>
    </div>
    @Scripts.Render("~/bundles/jquery")

</body>
</html>
    <script src="~/Scripts/ClientScripts/Blocked.js"></script>
