@using TravelAgency.BLL.Enums
@{
    ViewBag.Title = "Index";
}

<div class="form-group">
    <label for="typeOfTour" class="col-sm-4 col-form-label">Выберите какие туры отображать</label>
    <div class="col-sm-12">
        @Html.DropDownList("StatusTourBLL",
          EnumHelper.GetSelectList(typeof(StatusTourBLL)),
          new { @class = "form-control w-auto", id = "statusTourEnum" })
    </div>
</div>

<div id="spinner">
    <h1>Загрузка...</h1>
</div>

<div class="w-100" id="partialPagination">

</div>

@section scripts {
    <script src="~/Areas/Admin/Scripts/PaginationAllTour.js"></script>
}